body{
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
        }
.caixa{
    max-width: 230px;
    background-color: hsl(215, 40%, 18%);
    margin: auto;
    border-radius: 10px; 
    
    
}

#imageEquilibrium{
    max-width: 200px;
    padding: px; 
    overflow: auto;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 10px;  
}

.title{
    color:white;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
}
.texto{
    color:hsl(215, 51%, 70%);
    text-align: left;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
#eth{
    color: hsl(177, 65%, 51%);
    font-size: 10px;
    padding-left: 15px;
}

#days{
    color:white;
    float: right;
    padding-right: 15px;
    font-size: 10px;
    
}

.criador{
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 10px;
    color: white;
    font-family: 'Outfit', sans-serif;
        
}
#avatar{
    padding-right: 10px;
    border: 15px white;
}